{
    "formatter": "rustfmt",
    "language": "rust",
    "tabWidth": 4,
    "useTabs": false,
    "lineEnding": "lf",
    "bracketSpacing": true,
    "singleQuote": false,
    "trailingComma": "es5",
    "semi": true
} 